<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar sesión - Tienda</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css?v=k0RQU0cLkhCneuj2T8refh63RHH-2-rvGc1G2SEzywo" />
</head>
<body class="d-flex flex-column min-vh-100">
    <header b-hh7t54o8my>
        <nav b-hh7t54o8my class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
            <div b-hh7t54o8my class="container">
                <a class="navbar-brand fw-bold" href="/">Sistema de Ventas</a>
                <button b-hh7t54o8my class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span b-hh7t54o8my class="navbar-toggler-icon"></span>
                </button>
                <div b-hh7t54o8my class="collapse navbar-collapse" id="navbarNav">
                    <ul b-hh7t54o8my class="navbar-nav ms-auto">
                        <li b-hh7t54o8my class="nav-item">
                            <a class="nav-link" href="/">Inicio</a>
                        </li>
                        <li b-hh7t54o8my class="nav-item">
                            <a class="nav-link" href="/Producto">Productos</a>
                        </li>
                        <li b-hh7t54o8my class="nav-item">
                            <a class="nav-link" href="/Categoria">Categorías</a>
                        </li>
                        <li b-hh7t54o8my class="nav-item">
                            <a class="nav-link" href="/Carrito">Carrito</a>
                        </li>
                        <li b-hh7t54o8my class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Login">Iniciar sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main b-hh7t54o8my role="main" class="flex-grow-1 container py-4">
        @RenderBody()
    </main>

    <footer b-hh7t54o8my class="bg-light text-center text-muted py-3 mt-auto border-top">
        <div b-hh7t54o8my class="container">
            © 2025 - Sistema de Ventas
        </div>
    </footer>

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js?v=hRQyftXiu1lLX2P9Ly9xa4gHJgLeR1uGN5qegUobtGo"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>